
body{
    min-height: 100vh;
    background-image:url(fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-subheading {
    text-align: center;
    background-color: rgba(0, 238, 20, 0.076);
    
}
.editar{
   text-align: right;
}
.form{
    text-align: right;
}
.cambio{
    text-align: center;
}
.guardar {
    text-align: center;
}