
html,
body,
header
#intro{
    height: 100%;
    opacity:unset;
}
html,
body,
header
#intro{
    background: url(fondo1.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    
}


